<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Aphix test</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
<body>

<div ng-app="ngApp" ng-controller="ngCtrl"> 

<p>YouTube video search</p>
<input type="text" id="search_term" ng-model="searchTerm">
<button ng-click="buildQuery()">Search</button>
<button ng-disabled="btn_prev_disabled" ng-model="token_prev" ng-click="buildQueryPrev()">Previous</button>{{btn_prev_switch}}
<button ng-disabled="btn_next_disabled" ng-model="token_next" ng-click="buildQueryNext()">Next</button>
<div ng-repeat="x in query">
	<div>{{x.snippet.title}}</div>
	<div><img src="{{x.snippet.thumbnails.default.url}}"> Duration: {{videoDetail[$index]}}</div>
</div>



<script type="text/javascript" src="custom_functions.js"></script>


</body>
</html>
