<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Aphix test</title>
		<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script-->
		<script src="libs/angular.min.js"></script>
		<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
		<script src="libs/jquery-3.2.1.min.js"></script>
		<script src="libs/modal.js"></script>
		<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->
		<link rel="stylesheet" href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/custom.css">
	</head>
<body>

<div ng-app="ngApp" ng-controller="ngCtrl"> 
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>YouTube video search</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9 col-sm-10">
				
				<div class="input-group">
					<input class="form-control" placeholder="Search" type="text" id="search_term" ng-model="searchTerm">
					<div class="input-group-btn">
						<button class="btn btn-default" ng-click="buildQuery()"> <i class="glyphicon glyphicon-search"></i></button>
						<button title="Previous" class="btn btn-default" ng-disabled="btn_prev_disabled" ng-model="token_prev" ng-click="buildQueryPrev()"><i class="glyphicon glyphicon-chevron-left"></i></button>
						<button title="Next" class="btn btn-default" ng-disabled="btn_next_disabled" ng-model="token_next" ng-click="buildQueryNext()"><i class="glyphicon glyphicon-chevron-right"></i></button>
					</div>
				</div>
			</div>
			<div class="col-xs-3 col-sm-2">
				<select class="form-control" ng-model="maxResults">
					<option>5</option>
					<option>10</option>
					<option>20</option>
					<option>50</option>
				</select>
			</div>
		</div>
		<br/>
		
		<div class="row fix">
			<div class="clearfix col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="x in query">
				
						<a href="#" data-toggle="modal" data-target="#myModal" ng-click="selectVideo(x)">
						<div class="well well-sm">
							<div class="row">
								<div class="col-xs-6">
									<img class="img-responsive hidden-xs" src="{{x.snippet.thumbnails.default.url}}">
									<img class="img-responsive visible-xs" src="{{x.snippet.thumbnails.medium.url}}">
									<h4><span class="label label-danger" style="position: absolute; left: 15px; bottom: 10px;">{{videoDetail[$index]}}</span></h4>
								</div>
								<div class="caption col-xs-6">
									<p title="{{x.snippet.title}}">{{x.snippet.title}}</p>
								</div>
							</div>
						</div>	
						</a>
					
				
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div id="myModal" class="modal fade videoModal" role="dialog">
		<div class="modal-dialog">

		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="stopVideo()">&times;</button>
					<h3 class="modal-title">Modal Header</h3>
				</div>
				<div class="modal-body">
					<iframe width="100%" height="315" src="https://www.youtube.com/embed/ET-I3OjlXqs" frameborder="0" allowfullscreen></iframe>
					<hr>
					<p id="description"></<p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="stopVideo()">Close</button>
				</div>
			</div>

		</div>
	</div>
	
</div>


<script type="text/javascript" src="libs/custom_functions.js"></script>


</body>
</html>
